*
{
  box-sizing: border-box;
}

body
{
  background-color: #FAFAFA;
  color: rgb(39, 36, 36);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;

}

.a__activate {
  text-decoration: none;
  color: #1758D3;
}

.a__center {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header, footer {
  z-index: 1000;
}

.header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: fixed;
  width: 100%;
  padding: 0 8%;
  z-index: 999;
  background-color: #fff;
  top: 0px;
}

footer {
  height: 5vh;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  width: 100%;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

footer nav {
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #1758D3;
  margin: 0 0.5em;
  font-weight: bold;
}

.logo {
  font-size: 1.7em;
  color: #1758D3;
  text-decoration: none;
}

nav a:last-child {
  margin-right: 2em;
}

.container
{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
  grid-template-rows: 1fr [form] 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.filter {
  position: absolute;
  justify-content: center;
  background-color: #FAFAFA;
  z-index: 500;
  max-width: 100%;
  min-width: 100%;
}

.container--pushed {
  margin-top: 13.5vh;
}

.form--login
{
  padding: 1em;
  grid-column: form;
  grid-row: form;
}

.form__error
{
  font-weight: lighter;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: red;
}

.form__success {
  font-weight: lighter;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: green;
}

.form__field
{
  padding-bottom: 1em;
}

.form__field label
{
  display: block;
  margin-bottom: 0.2em;
}

.form__field img {
  display: flex;
  margin: auto;
}

input, select, textarea {
  outline: 0;
  border-width: 0 0 2px;
  border-color: gray;
  border-radius: 8px;
}

.form__field input[type=text], 
.form__field input[type=password],
.form__field input[type=file],
.form__field select,
.form__field textarea
{
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
  background-color: transparent;
}

textarea {
  height: 150px;
}

.form__field .label__inline
{
  display: inline-block;
}

.btn
{
  width: 100%;
  margin: 0.5em auto;
}

.btn--primary
{
  background-color: #1758D3;
  color: white;
  text-align: center;
  border: none;
  padding: 0.3em 2em;
  font-size: 1.4em;
}

.btn--bottom {
  margin-bottom: 2em;
}

h2 {
  text-align: center;
}

h4 {
  font-size: 0.7em;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.avatar__img {
  text-align: center;
}

.fileUpload {
  border-bottom: 2px solid gray;
  color: gray;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 0.5em;
  font-weight: bold;
  margin-top: 15px;
}

.form__field input[type=file] {
  font-size: 1em;
}

.buddyCard {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}

.container__buddyCard {
  display: flex;
  justify-content: center;
}

.priority0 {
  z-index: 5;
}

.priority1 { 
  z-index: 10;
}

.priority2 {
  z-index: 20;
}

.priority3 {
  z-index: 30; 
}

.priority4 {
  z-index: 40;
}

.friends__list {
  margin-top: 12vh;
}

.center {
  text-align: center;
}

.index__data {
  margin-top: 15vh;
}

.blue {
  color: #1758D3;
}

.logo img {
  height: 8vh;
  display: flex;
  align-content: center;
}

.a__right {
  display: flex;
  justify-content: flex-end;
}

.icon {
  height: 4vh;
  margin-top: 5px;
}

.buddyConfirm {
  width: 50vw;
  height: 70vh;
  background-color: #FAFAFA;
  z-index: 200;
  margin-top: 15vh;
  max-width: 100%;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  border: #1758D3 3px solid;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  display: none;
}

.friend-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.friends {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.card-friend1 {
  display: grid;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 25px;
  height: 250px;
  width: 350px;
  align-content: center;
  margin-right: 0px;
}

.card-friend2 {
  display: grid;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 25px;
  height: 250px;
  width: 350px;
  align-content: center;
  margin-left: 0px;
}

.friend-with {
  display: grid;
  align-content: center;
}

.forum {
  margin-top: 20vh;
}

.forums {
  margin-top: 20vh;
}

.forum-posts {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.forum-naam {
  display: grid;
}

.forum-post {
  display: grid;
}

@media (min-width: 780px) {
  .header {
    display: flex;
  }

  footer {
    display: none;
  }

  .buddyConfirm {
    max-width: auto;
    min-width: auto;
  }
}

@media (max-width: 700px) {
  .friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}