*
{
  box-sizing: border-box;
}

body
{
  background-color: #FAFAFA;
  color: rgb(39, 36, 36);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;

}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: fixed;
  width: 100%;
  padding: 0 8%;
  z-index: 999;
  background-color: #fff;

}

footer {
  height: 5vh;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  width: 100%;
  justify-content: space-evenly;
}

nav {
  display: none;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

footer nav {
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #1758D3;
  margin: 0 0.5em;
  font-weight: bold;
}

.logo {
  font-size: 1.7em;
  color: #1758D3;
  text-decoration: none;
}

nav a:last-child {
  margin-right: 2em;
}

.container
{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
  grid-template-rows: 1fr [form] 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.form--login
{
  padding: 1em;
  grid-column: form;
  grid-row: form;
}

.form__error
{
  font-weight: lighter;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: red;
}

.form__success {
  font-weight: lighter;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: green;
}

.form__field
{
  padding-bottom: 1em;
}

.form__field label
{
  display: block;
  margin-bottom: 0.2em;
}

input, select, textarea {
  outline: 0;
  border-width: 0 0 2px;
  border-color: gray;
  border-radius: 8px;
}

.form__field input[type=text], 
.form__field input[type=password],
.form__field input[type=file],
.form__field select,
.form__field textarea
{
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
  background-color: transparent;
}

textarea {
  height: 150px;
}

.form__field .label__inline
{
  display: inline-block;
}

.btn
{
  width: 100%;
  margin: 0.5em auto;
}

.btn--primary
{
  background-color: #1758D3;
  color: white;
  text-align: center;
  border: none;
  padding: 0.3em 2em;
  font-size: 1.4em;
}

h2 {
  text-align: center;
}

h4 {
  font-size: 0.7em;
}

.avatar {
  height: 150px;
  width: 150px;
}

.avatar__img {
  text-align: center;
}

.fileUpload {
  border-bottom: 2px solid gray;
  color: gray;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 0.5em;
  font-weight: bold;
  margin-top: 15px;
}

.form__field input[type=file] {
  font-size: 1em;
}

.buddyCard {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}

.container__buddyCard {
  display: flex;
  justify-content: center;
}

.priority0 {
  z-index: 5;
}

.priority1 { 
  z-index: 10;
}

.priority2 {
  z-index: 20;
}

.priority3 {
  z-index: 30; 
}

.priority4 {
  z-index: 40;
}

@media (min-width: 780px) {
  nav {
    display: flex;
  }

  footer {
    display: none;
  }
}